section {
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -ms-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear;
}

section.highlight {
  background-color: #FCF8E3;
}

.unshared {
  color: #545454;
  padding: 10px 25px;
  text-align: center;

  p + p {
    margin-top: 1em;
  }
}

.details {
  dl {
    margin-top: 1.5em;

    dt, dd { margin-bottom: 5px; }

    dt {
      clear: left;
      float: left;
      max-width: 9em;
    }

    dt + dd {
      margin-left: 10em;
    }
  }
}

.share {
  p, label { padding: 12px; }

  label {
    font-weight: bold;

    input, select {
      font-weight: normal;
      margin-top: 10px;
      width: 90%;
    }
  }

  p + fieldset { margin-top: 1em; }

  fieldset.grouped {
    background-color: #f2f2f2;
    border-radius: 4px;
  }

  .divider {
    display: block;
    margin-top: 12px;
    text-align: center;

    .text {
      background: #fff;
      display: inline-block;
      font-weight: bold;
      padding: 0 10px;
      z-index: 2;
    }

    &:after {
      border-top: 1px dotted #ccc;
      content: "";
      display: block;
      margin-top: -7px;
    }
  }
}

> footer {
  display: none;
}
